@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  min-height: 100%;
  font-family: "PT Sans Narrow", sans-serif;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

header {
  color: red;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}
header .top-header {
  text-align: end;
  color: white;
  background-color: #0c70ce;
  font-size: 10px;
}
header .top-header span {
  padding-left: 10px;
}
header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header .nav-bar .logo {
  height: 60px;
}
header .nav-bar .link-nav {
  height: 20px;
  display: flex;
}
header .nav-bar .link-nav ul li a.active, header .nav-bar .link-nav ul li a:hover {
  border-bottom: 1.5px solid #0c70ce;
}
header .nav-bar .link-nav input {
  border: none;
  border-bottom: 1px solid #0c70ce;
  text-align: end;
}

.container-hero {
  height: 500px;
  margin-top: 90px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}

.icon-bar {
  background-color: #0c70ce;
}
.icon-bar ul {
  padding: 20px 0;
  justify-content: space-between;
}
.icon-bar ul li a {
  display: flex;
  align-items: center;
  color: white;
}
.icon-bar ul li a img {
  width: 40px;
}
.icon-bar ul li a p {
  padding-left: 20px;
}

footer .footer-content {
  background-image: url("../images/footer-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-content .content-list {
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 30px 0 15px 0px;
}
footer .footer-content .content-list .row {
  display: flex;
}
footer .footer-content .content-list .row a {
  color: grey;
  font-size: 15px;
  text-transform: uppercase;
}
footer .footer-content .content-list .row ul {
  flex-direction: column;
  align-items: start;
}
footer .footer-content .content-list .row ul h4 {
  margin-top: 20px;
}
footer .footer-content .content-list .row ul h4 a {
  font-size: 25px;
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
footer .footer-content .content-list p {
  color: gray;
}
footer .footer-content .content-list p a {
  color: #0c70ce;
  text-decoration: none;
}
footer nav {
  background-color: #303030;
}
footer nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer nav .btn {
  margin: 20px 0;
  border: 1px solid #0c70ce;
  padding: 12px;
}
footer nav .btn #btn-footer {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}
footer nav #follow {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-right: 30px;
}
footer nav #follow a {
  color: #0c70ce;
}