@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  min-height: 100%;
  font-family: "PT Sans Narrow", sans-serif;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

header {
  color: red;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}
header .top-header {
  text-align: end;
  color: white;
  background-color: #0c70ce;
  font-size: 10px;
}
header .top-header span {
  padding-left: 10px;
}
header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header .nav-bar .logo {
  height: 60px;
}
header .nav-bar .link-nav {
  height: 20px;
  display: flex;
}
header .nav-bar .link-nav ul li a.active, header .nav-bar .link-nav ul li a:hover {
  border-bottom: 1.5px solid #0c70ce;
}
header .nav-bar .link-nav input {
  border: none;
  border-bottom: 1px solid #0c70ce;
  text-align: end;
}

.container-hero {
  height: 500px;
  margin-top: 90px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}

.main-content main {
  min-height: 100px;
  background-color: black;
  color: white;
}
.main-content .container-cards {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}
.main-content .container-cards .card {
  padding: 5px;
  flex-basis: 16.6666666667%;
}
.main-content .container-cards .card .img-card {
  height: 190px;
  overflow: hidden;
}
.main-content .container-cards .card .text-img {
  font-size: 0.9em;
  color: white;
  padding-top: 10px;
}
.main-content .section-btn-load {
  text-align: center;
  padding-bottom: 20px;
}
.main-content .btn {
  text-transform: uppercase;
  background-color: #0c70ce;
  padding: 10px 30px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.main-content .section-btn-current {
  position: relative;
  bottom: 5px;
}
.main-content .section-btn-current .btn {
  font-size: 1.6rem;
}
.main-content .icon-bar {
  background-color: #0c70ce;
}
.main-content .icon-bar ul {
  padding: 20px 0;
  justify-content: space-between;
}
.main-content .icon-bar ul li a {
  display: flex;
  align-items: center;
  color: white;
}
.main-content .icon-bar ul li a img {
  width: 40px;
}
.main-content .icon-bar ul li a p {
  padding-left: 20px;
}

footer .footer-content {
  background-image: url("../images/footer-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-content .content-list {
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 30px 0 15px 0px;
}
footer .footer-content .content-list .row {
  display: flex;
}
footer .footer-content .content-list .row a {
  color: grey;
  font-size: 15px;
  text-transform: uppercase;
}
footer .footer-content .content-list .row ul {
  flex-direction: column;
  align-items: start;
}
footer .footer-content .content-list .row ul h4 {
  margin-top: 20px;
}
footer .footer-content .content-list .row ul h4 a {
  font-size: 25px;
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
footer .footer-content .content-list .cookier {
  padding-top: 20px;
}
footer .footer-content .content-list .cookier p {
  color: gray;
}
footer .footer-content .content-list .cookier p a {
  color: #0c70ce;
  text-decoration: none;
}
footer nav {
  background-color: #303030;
}
footer nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer nav .btn {
  margin: 20px 0;
  border: 1px solid #0c70ce;
  padding: 12px;
}
footer nav .btn #btn-footer {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}
footer nav #follow {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-right: 30px;
}
footer nav #follow a {
  color: #0c70ce;
}

.comics_details .container {
  display: flex;
  padding: 20px 0;
}
.comics_details .container .col-9 {
  flex-basis: 75%;
  padding-right: 50px;
}
.comics_details .container .col-9 .available {
  display: flex;
  background-color: #55ba59;
  color: #bafd9c;
  padding: 20px;
}
.comics_details .container .col-9 .available .price {
  display: flex;
  flex-basis: 75%;
}
.comics_details .container .col-9 .available .btn-available {
  flex-basis: 25%;
  display: flex;
  justify-content: space-between;
}
.comics_details .container .col-9 .available .btn-available a {
  color: aqua;
  border-left: 1px solid #0c70ce;
}