.comics_details {
    .col-4 {
        flex-basis: calc((100% / 12) * 4);
    }
    .col-6 {
        flex-basis: calc((100% / 12) * 6);
    }
    .col-7 {
        flex-basis: calc((100% / 12) * 7);
    }
    .row {
        display: flex;
    }
    hr {
        border-color: #80808021;
        margin: 20px 0;
    }
    .special {
        background-color: $blue-dc;
        height: 80px;
        img {
            position: relative;
            bottom: 250px;
        }
    }
    .container {
        display: flex;
        padding: 20px 0;

        .col-9 {
            flex-basis: calc((100% / 12) * 9);
            padding-right: 50px;
            .available {
                display: flex;
                background-color: #55ba59;
                color: #bafd9c;
                padding: 20px;
                .price {
                    display: flex;
                    flex-basis: calc((100% / 12) * 9);
                }
                .btn-available {
                    flex-basis: calc((100% / 12) * 3);
                    display: flex;
                    justify-content: space-between;
                    a {
                        color: aqua;
                        border-left: 1px solid $blue-dc;
                    }
                }
            }
        }
    }
    .specifics {
        background-color: #e3dddd4a;
        .container {
        }
        .talent {
            padding-right: 40px;
        }
    }
}
