footer {
    // content footer style
    .footer-content {
        background-image: url("../images/footer-bg.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        .content-list {
            background-image: url("../images/dc-logo-bg.png");
            background-repeat: no-repeat;
            background-position: right;
            padding: 30px 0 15px 0px;
            .row {
                display: flex;
                a {
                    color: grey;
                    font-size: 15px;
                    text-transform: uppercase;
                }
                ul {
                    flex-direction: column;
                    align-items: start;
                    h4 {
                        margin-top: 20px;
                        a {
                            font-size: 25px;
                            font-weight: bolder;
                            color: #fff;
                            text-decoration: none;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .cookier {
                padding-top: 20px;
                p {
                    color: gray;
                    a {
                        color: $blue-dc;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    // navbar footer style
    nav {
        background-color: #303030;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .btn {
            margin: 20px 0;
            border: 1px solid $blue-dc;
            padding: 12px;
            #btn-footer {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.2rem;
            }
        }
        #follow {
            font-weight: bolder;
            text-transform: uppercase;
            font-size: 1.6rem;
            margin-right: 30px;
            a {
                color: $blue-dc;
            }
        }
    }
}
