header{
    color: red;

.top-header{
    text-align: end;
    color: white;
    background-color: $blue-dc;
    font-size: 10px;
    span{
        padding-left:10px
    }
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .link-nav{
        height: 20px;
        display: flex;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                list-style: none;
                a{
                    padding:10px;
                    text-decoration: none;
                    color: black;
                    &.active,&:hover{
                        border-bottom: 1px solid $blue-dc
                    }
                }
            }
        }
        input{
            border: none;
            border-bottom: 1px solid $blue-dc;
            text-align: end;
        }
}
}
}